/* This is going to be my style sheet for my article. */
.page-header {
  /*I am going to make this a different background*/
  background-color: #935347;
  font-family:'vidaloka-bold', serif;
  border:solid;
  padding: 10px;
  padding-top: 20px;
}
.header {
  /*I am going to make each sub-header a different color from the text*/
  background-color: #ede9ce;
  font-family:'vidaloka',serif;
  padding: 10px;
  border: solid;
}
.text-block {
  background-color: #c7ad88;
  font-family:'raleway',sans-serif;
  padding: 10px;
  line-height: 1.4em;
}
.quote{
  font-family:"merriweather";
}
