.container{
  display:flex;
  flex-wrap:wrap;
}

header{
  width:100%;
  order:1;
  background-color: #4ABDAC;
  text-align: center;
}
.nav{
  width:100%;
  order:2;
  background-color: #FC4A1A;
  justify-content: center;
}
.para-one{
width:100%;
  order:3;
  background-color: #F78733;
  text-align: center;
  flex-shrink: 1;
  border-bottom: 2px solid;
}
.para-two{
  width: 100%;
  order:4;
  background-color: #F78733;
  text-align: center;
}
.para-three{
  width:100%;
  order:5;
  background-color: #4ABDAC;
  text-align: center;
  margin:auto;
}

.footer{
  width:100%;
  order:6;
  background-color: #FC4A1A;
  text-align:center;
}

.nav a{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border: 5px solid #4ABDAC;
  margin-top: 1%;
  margin-bottom:1%;
  text-decoration-color: #DFDCE3;
}
.nav a:hover{
  background-color:#4ABDAC;
}

@media screen and (min-width:600px) and (max-width:799px){
  .para-two{width:50%; order:6;}
  .para-three{width:100%; order:3;}
  .para-one{width:49%; order:5;border-right: 1px solid; border-bottom: none;}
  .container{background-color:#4ABDAC;}
}

@media screen and (min-width:800px){
.para-three{width:100%; order:4;}
.para-one{width:37%; order:3; text-align: left; border-bottom: none;margin: auto;}
.para-two{width:37%; order:3; text-align: left; margin: auto; margin-top: 20px;}
.nav{max-width: 150px; order:1;}
.header{width:100%;order:-1;border:solid 5px #FC4A1A }
.container{background-color:#4ABDAC;}
}
@media screen and (min-width:801px){
  .para-three{max-width:801px; order:4;}
  .para-two{max-width: 350px;}
  .para-one{max-width: 350px;}
}
